<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>UserName</th>
            <th>DisplayName</th>
            <th>Email</th>
            <th>Password</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Tel</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in usersData">
            <td>{{user.Id}}</td>
            <td>{{user.UserName}}</td>
            <td>{{user.DisplayName}}</td>
            <td>{{user.Email}}</td>
            <td>{{user.Password}}</td>
            <td>{{user.DetailInfo.Age}}</td>
            <td>{{user.DetailInfo.Sex}}</td>
            <td>{{user.DetailInfo.Tel}}</td>
            <td class=" text-center">
                <a class="btn btn-info" ui-sref="users.getUser({id: user.Id})">Detail</a>
                <button class="btn btn-info" ui-sref="users.updateUser({id: user.Id})">Edit</button>
                <button class="btn btn-info" ng-click="deleteUser(user.Id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

