<div class="container">
    <div class="row" style="margin-top: 40px;">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail" style="height: 450px">
                <img src="/app/images/demoGame.png" alt="Demo Game">
                <div class="caption">
                    <h3>A Demo Game</h3>
                    <p>This is a Demo Game designed by Harry Hu.</p>
                    <div class="text-right">
                        <a href="#" class="btn btn-default" role="button" ui-sref="demoGame">Go</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail" style="height: 450px">
                <img src="/app/images/azure-ill.png" alt="Users API">
                <div class="caption">
                    <h3>Azure demo</h3>
                    <p>ASP.NET WEB API, Azure Database.</p>
                    <div class="text-right">
                        <a href="#" class="btn btn-default" role="button" ui-sref="users">Go</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail" style="height: 450px">
                <img src="/app/images/demoGame.png" alt="BLOB Storage">
                <div class="caption">
                    <h3>BLOB Storage</h3>
                    <p>Demo which implements with Azure Storage(Blob).</p>
                    <div class="text-right">
                        <a href="#" class="btn btn-default" role="button" ui-sref="blobs">Go</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen=""></iframe>
    </div>
</div>